modules = ["nodejs-20", "web", "python-3.11"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 23636
externalPort = 3000

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
VITE_GOOGLE_MAPS_API_KEY = "AIzaSyDfRKi85ZeUXl8dm7_wy3SA7Hmi-sd9nsQ"
VITE_FIREBASE_VAPID_KEY = "BCBsfh5QKS_yrUibSBAcVzxY5QoRS3idDpufBU_K0SPTm8S_m_4F-nG0F9WuV6HLsqk3Gza3K1THeETU40rsouY"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
